[submodule "jwebsocket-common"]
	path = jwebsocket-common
	url = https://github.com/jamieforth/jwebsocket-common.git/
[submodule "jwebsocket-server-api"]
	path = jwebsocket-server-api
	url = https://github.com/jamieforth/jwebsocket-server-api.git/
[submodule "jwebsocket-server"]
	path = jwebsocket-server
	url = https://github.com/jamieforth/jwebsocket-server.git/
[submodule "jwebsocket-client-api"]
	path = jwebsocket-client-api
	url = serena-git:jwebsocket-client-api/
[submodule "jwebsocket-client"]
	path = jwebsocket-client
	url = serena-git:jwebsocket-client
